@import "partials/variables";
@import "partials/mixin";
// @import "partials/variables", @import "partials/mixin";

// @import url();
// @import "http://";
// @import "filename.css";
// @import "style-screen" screen;

@include google-font("Alegreya+Sans");
@include google-font("Titlium+Web");

@include fancy-links;

body {
  font-family: sans-serif;
  color: $text-color;
  @include large-screens {
    font-size: 125%;
  }
}

h1,
h2,
h3,
h4 {
  height: $header-height;
  font-family: $headline-font;
}

h2 {
  @include large-text;
}

p {
  font-family: $text-font;
}

a {
  color: $link-color;
}

.warning-button {
  @include warning;
}

@include apply-to-ie-6 {
  body {
    font-size: 125%;
  }
}

#header {
  @include box($radius: 6px, $border: 1px solid #000);
  @include box-shadow(
    2px 0px 4px rgb(189, 230, 189),
    1px 1px 6px $secondary-color
  );
  height: $header-height;
  background-color: $theme-color;

  #main-menu {
    li {
      display: inline;
    }
    a {
      color: $menu-item-color;
    }
  }

  #logo {
  }
}

#main {
  width: $content-width;
  @include large-screens {
    width: auto;
    max-width: $content-width;
  }
  margin-left: auto;
  margin-right: auto;

  #content {
  }

  #sidebar {
  }
}

#footer {
  height: $footer-height;
  background-color: $ternary-color;
}
